@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
  font-family: 'Lato', sans-serif;

}

.top{
  height: 100%vh;
}

.intro-text{
  color: whitesmoke;
  font-size: 50px;
  /* #69D84F */
}

#intro-description{
  font-size: 20px;
}